@import 'lenis/dist/lenis.css';
@import 'swiper/css/bundle';

.button-color {
  display: none !important;
}

[text-split] {
  opacity: 0;
}
html.w-editor [text-split] {
  opacity: 1;
}

.word {
  overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}

.swiper-slide.is-tab {
  opacity: 0;
}
